                            <div class="ds_checkbox">
                               <input class="ds_checkbox__input" id="animal-health" name="wfp-audit[]" type="checkbox" value="Animal Health and Welfare">
                               <label class="ds_checkbox__label" for="animal-health">Animal Health and Welfare</label>
                            </div>

                            <div class="ds_checkbox">
                               <input class="ds_checkbox__input" id="pest-management" name="wfp-audit[]" type="checkbox" value="Integrated Pest Management Plan">
                               <label class="ds_checkbox__label" for="pest-management">Integrated Pest Management Plan</label>
                            </div>

                            <div class="ds_checkbox">
                                <input class="ds_checkbox__input" id="carbon" name="wfp-audit[]" type="checkbox" value="Carbon">
                                <label class="ds_checkbox__label" for="carbon">Carbon</label>
                            </div>

                            <div class="ds_checkbox">
                                <input class="ds_checkbox__input" id="biodiversity" name="wfp-audit[]" type="checkbox" value="Biodiversity">
                                <label class="ds_checkbox__label" for="biodiversity">Biodiversity</label>
                            </div>

                            <div class="ds_checkbox">
                                <input class="ds_checkbox__input" id="soil" name="wfp-audit[]" type="checkbox" value="Soil Management">
                                <label class="ds_checkbox__label" for="soil">Soil Management</label>
                            </div> 