//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Add extra styles here
@import "components/step-nav";

// Notification banner styles
.ds_notification {
    border-left: 4px solid #0065bd;
    padding: 15px;
    background-color: #f8f8f8;
    margin-bottom: 30px;
    border-top: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}

.ds_notification__title {
    font-size: 1.1em;
    font-weight: 700;
    margin-bottom: 15px;
    color: #333333;
}

.ds_notification__body {
    color: #333333;
}

// Filter styles
.ds_filter-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 16px;
}

.filter-button {
    width: 100%;
    text-align: left;
    padding: 8px 12px;
    font-size: 16px;
    border: 1px solid #b1b4b6;
    background: #fff;
}

.ds_button--selected {
    background-color: #0065bd;
    color: white;
    border-color: #0065bd;
}

// Keep filter sticky
#filter-container .ds_notification {
    position: sticky;
    top: 24px;
}

// Container for inset text
.scheme-info {
    max-width: 40em;
    margin-bottom: 32px;
}

// Layout styles
.ds_page__content {
    display: flex;
    gap: 32px;
}

.ds_layout__content--narrow {
    flex: 0 0 33.333%;
}

.ds_layout__content--wide {
    flex: 0 0 66.666%;
}