{% extends "sg-prototype-templates/layouts/_base-layout.njk" %}

{% block pageTitle %}AECS eligibility checker{% endblock %}

{# Use an empty siteBrandingTitle block to only show the Scottish Government logo for site branding #}
{% block siteBrandingTitle %}
<div class="ds_site-branding__title">
    {{ serviceName }}
</div>
{% endblock %}

{# Use an empty siteSearch block to hide the search from the header #}
{% block siteSearch %}{% endblock %}


{# Back link - in place of breadcrumbs #}
{% block breadcrumbs %}
<div class="ds_wrapper">
    <a class="ds_back-link" href="start">Back</a>
</div>
{% endblock %}


{% block main %}
<div class="ds_wrapper">
    <main id="main-content" class="ds_layout  ds_layout--article">
        <div class="ds_layout__header">
            <header class="ds_page-header">
                <h1 class="ds_page-header__title ds_!_margin-bottom--4">Find out which scheme options you could apply for</h1>
            </header>
        </div>

        <div class="ds_layout__content">
            <form method="post">
                <div class="ds_question ds_!_margin-bottom--6">
                    <fieldset>
                        <legend>How do you want to search?</legend>
                        
                        <div class="ds_inset-text  ds_!_margin-bottom--4">
                            <div class="ds_inset-text__text">
<p>If you have one holding, search using your holding number. If you have more than one, use your Business Reference Number (BRN).</p>
                            </div>
                        </div>

                        <div class="ds_field-group">
                            <div class="ds_radio">
                                <input class="ds_radio__input" id="search-type-holding" name="search-type" type="radio" value="holding">
                                <label class="ds_radio__label" for="search-type-holding">Search by holding number</label>
                                <div class="ds_reveal-content">
                                    <label class="ds_label" for="holding">Enter your holding number</label>
                                    <p class="ds_hint-text">For example, 002/0023</p>
                                    <input class="ds_input ds_input--fixed-10" type="text" id="holding" name="holding">
                                </div>
                            </div>

                            <div class="ds_radio">
                                <input class="ds_radio__input" id="search-type-brn" name="search-type" type="radio" value="brn">
                                <label class="ds_radio__label" for="search-type-brn">Search by Business Reference Number (BRN)</label>
                                <div class="ds_reveal-content">
                                    <label class="ds_label" for="brn">Enter your BRN</label>
                                    <p class="ds_hint-text">This is 6 numbers long</p>
                                    <input class="ds_input  ds_input--fixed-10" type="text" id="brn" name="brn" pattern="[0-9]{6}" maxlength="6">
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>

                <button class="ds_button" type="submit">Continue</button>
            </form>
        </div>
    </main>
</div>

<script type="text/javascript">
    document.querySelector('form').addEventListener('submit', function(e) {
        e.preventDefault();
        
        const searchType = document.querySelector('input[name="search-type"]:checked').value;
        
        if (searchType === 'holding') {
            const holdingNumber = document.getElementById('holding').value;
            window.location.href = 'scheme-options-results_holding-number?holding=' + holdingNumber;
        } else if (searchType === 'brn') {
            const brn = document.getElementById('brn').value;
            window.location.href = 'scheme-options-results_brn?brn=' + brn;
        }
    });
</script>

{% endblock %}