{% extends "sg-prototype-templates/layouts/_base-layout.njk" %}

{% block pageTitle %}AECS eligibility checker{% endblock %}

{# Use an empty siteBrandingTitle block to only show the Scottish Government logo for site branding #}
{% block siteBrandingTitle %}
<div class="ds_site-branding__title">
    {{ serviceName }}
</div>
{% endblock %}

{# Use an empty siteSearch block to hide the search from the header #}
{% block siteSearch %}{% endblock %}


{# Back link - in place of breadcrumbs #}
{% block breadcrumbs %}
<div class="ds_wrapper">
    <a class="ds_back-link" href="start">Back</a>
</div>
{% endblock %}


{% block main %}
<div class="ds_wrapper">
    <main id="main-content" class="ds_layout  ds_layout--article">
        <div class="ds_layout__header">
            <header class="ds_page-header">
                <h1 class="ds_page-header__title ds_!_margin-bottom--4">Whole Farm Plan audit</h1>
            </header>
        </div>

        <div class="ds_layout__content">
            <form action="/version-5/question-wfp-audit" method="post">
                <input type="hidden" name="data[version]" value="5">
                <input type="hidden" name="data[holding-number]" value="{{ data['holding-number'] }}">
                <div class="ds_question">
                    <fieldset>
                        <legend class="ds_!_margin-bottom--4">Have you completed a Whole Farm Plan audit in the last 3 years?</legend>

                        {% from "govuk/components/details/macro.njk" import govukDetails %}

                        {{ govukDetails({
                        summaryText: "Why we're asking this",
                        html: "If you've completed a Whole Farm Plan audit in the last 3 years, we can show you results that may help address the recommendations in the audit.<br/><br/>The audit must be within 3 years, because some schemes require recent audits to ensure environmental and sustainability standards are being met.<br/><br/>Find out more about <a href=\"https://www.ruralpayments.org/topics/all-schemes/whole-farm-plan/\">Whole Farm Plans</a>."
                        }) }}

                        <div class="ds_field-group">
                            <div class="ds_radio">
                                <input class="ds_radio__input" id="audit-yes" name="audit" type="radio" value="yes" data-aria-controls="audit-types">
                                <label class="ds_radio__label" for="audit-yes">Yes, I have completed a Whole Farm Plan audit</label>
                            </div>
                            
                            <div class="ds_!_margin-bottom--4 ds_!_padding-left--2" id="audit-types" class="fully-hidden">
                                <div class="ds_inset-text  ds_!_margin-bottom--4 ds_!_padding-left--4">
                                    <div class="ds_inset-text__text">
                                        <fieldset>
                                            <legend>Which audits have you completed?</legend>
                                            <p class="ds_hint-text">Select all that apply</p>

                                            <div class="ds_checkbox">
                                                <input class="ds_checkbox__input" id="carbon" name="wfp-audit[]" type="checkbox" value="Carbon">
                                                <label class="ds_checkbox__label" for="carbon">Carbon audit</label>
                                            </div>

                                            <div class="ds_checkbox">
                                                <input class="ds_checkbox__input" id="biodiversity" name="wfp-audit[]" type="checkbox" value="Biodiversity">
                                                <label class="ds_checkbox__label" for="biodiversity">Biodiversity audit</label>
                                            </div>

                                            <div class="ds_checkbox">
                                                <input class="ds_checkbox__input" id="soil" name="wfp-audit[]" type="checkbox" value="Soil Management">
                                                <label class="ds_checkbox__label" for="soil">Soil audit</label>
                                            </div>

                                            <div class="ds_checkbox">
                                                <input class="ds_checkbox__input" id="water" name="wfp-audit[]" type="checkbox" value="Water Management">
                                                <label class="ds_checkbox__label" for="water">Water audit</label>
                                            </div>

                                            <div class="ds_checkbox">
                                                <input class="ds_checkbox__input" id="air" name="wfp-audit[]" type="checkbox" value="Air Quality">
                                                <label class="ds_checkbox__label" for="air">Air quality audit</label>
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>
                            </div>
                            <div class="ds_radio">
                                <input class="ds_radio__input" id="audit-no" name="audit" type="radio" value="no">
                                <label class="ds_radio__label" for="audit-no">No, I have not completed a Whole Farm Plan audit</label>
                            </div>
                        </div>
                    </fieldset>
                </div>

                <button type="submit" class="ds_button">Continue</button>
            </form>
        </div>
    </main>
</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
    const radioButtons = document.querySelectorAll('input[name="audit"]');
    const revealContent = document.getElementById('audit-types');

    function toggleReveal() {
        if (document.getElementById('audit-yes').checked) {
            revealContent.classList.remove('fully-hidden');
        } else {
            revealContent.classList.add('fully-hidden');
            // Clear checkboxes when hiding
            revealContent.querySelectorAll('input[type="checkbox"]').forEach(checkbox => {
                checkbox.checked = false;
            });
        }
    }

    radioButtons.forEach(radio => {
        radio.addEventListener('change', toggleReveal);
    });

    // Initial state check
    toggleReveal();
});
</script>

<script type="text/javascript">
    document.querySelector('form').addEventListener('submit', function(e) {
        e.preventDefault();
        
        // Store whether user selected yes or no
        const auditAnswer = document.querySelector('input[name="audit"]:checked').value;
        sessionStorage.setItem('audit-answer', auditAnswer);
        
        // If they selected yes, store the audit selections and redirect to improve areas
        if (auditAnswer === 'yes') {
            const selectedAudits = Array.from(document.querySelectorAll('input[name="wfp-audit[]"]:checked'))
                .map(cb => cb.value);
            sessionStorage.setItem('wfp-audit', JSON.stringify(selectedAudits));
            window.location.href = 'question-improve-areas';
        } else {
            // If no, continue to results page
            const holding = sessionStorage.getItem('holding');
            window.location.href = 'scheme-options-results_holding-number.html?holding=' + holding;
        }
    });
</script>

<style>
.fully-hidden {
    display: none;
}
</style>
{% endblock %}