{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="ds_wrapper">
        <main id="main-content" class="ds_layout  ds_layout--article">
            <div class="ds_layout__header">
                <header class="ds_page-header">
                    <h1 class="ds_page-header__title">{{ serviceName }}</h1>
                </header>
            </div>

            <div class="ds_layout__content">
                <ul class="ds_task-list-group">
                    <li class="ds_task-list-group__section">
                      <h2 class="ds_task-list-heading">Prototype versions</h2>
                      <ul class="ds_task-list">
                    </li>

                    <li class="ds_task-list__task" id="version8">
                        <div class="ds_task-list__task-details">
                            <div class="ds_task-list__task-header">
                                <h3 class="ds_task-list__task-heading">
                                    <a class="ds_task-list__task-link" href="version-9/start">Version 9 - funding and complementary options</a>
                                </h3>
                                <div class="ds_task-list__task-status-container">
                                    <div class="ds_task-list__task-status ds_task-list__task-status--latest" aria-hidden="true">Latest</div>
                                    <div class="ds_task-list__task-status" aria-hidden="true">In progress</div>
                                </div>
                            </div>
                            
                            <details class="govuk-details" data-module="govuk-details">
                                <summary class="govuk-details__summary">
                                    <span class="govuk-details__summary-text">
                                        Problem being solved
                                    </span>
                                </summary>
                                <div class="govuk-details__text">
                                    <p class="ds_task-list__task-description">
                                        <strong>Objective:</strong><br>
                                        Farmers currently have to read and consider a lot of information to find out if they are eligible for AECS. Enabling them to check their eligibility quickly and easily will help them to make a more informed decision, more quickly.
                                    </p>
                                    <p class="ds_task-list__task-description">
                                        <strong>Quote from user research:</strong><br>
                                        <i>"Can appear a bit daunting to engage with the schemes."</i>
                                    </p>
                                </div>
                            </details>
                        </div>
                    </li>

                    <li class="ds_task-list__task" id="version8">
                        <div class="ds_task-list__task-details">
                            <div class="ds_task-list__task-header">
                                <h3 class="ds_task-list__task-heading">
                                    <a class="ds_task-list__task-link" href="version-8/start">Version 8 - Eligibility checker</a>
                                </h3>
                                <div class="ds_task-list__task-status-container">
                                    <div class="ds_task-list__task-status ds_task-list__task-status--archived" aria-hidden="true">Archived</div>
                                </div>
                            </div>
                            
                            <details class="govuk-details" data-module="govuk-details">
                                <summary class="govuk-details__summary">
                                    <span class="govuk-details__summary-text">
                                        Problem being solved
                                    </span>
                                </summary>
                                <div class="govuk-details__text">
                                    <p class="ds_task-list__task-description">
                                        <strong>Objective:</strong><br>
                                        Farmers currently have to read and consider a lot of information to find out if they are eligible for AECS. Enabling them to check their eligibility quickly and easily will help them to make a more informed decision, more quickly.
                                    </p>
                                    <p class="ds_task-list__task-description">
                                        <strong>Quote from user research:</strong><br>
                                        <i>"Can appear a bit daunting to engage with the schemes."</i>
                                    </p>
                                </div>
                            </details>
                        </div>
                    </li>

                    <li class="ds_task-list__task" id="version7">
                        <div class="ds_task-list__task-details">
                            <div class="ds_task-list__task-header">
                                <h3 class="ds_task-list__task-heading">
                                    <a class="ds_task-list__task-link" href="version-7/start">Version 7 - Show the monetary value of scheme options</a>
                                </h3>
                                <div class="ds_task-list__task-status-container">
                                    <div class="ds_task-list__task-status" aria-hidden="true">Ready to test</div>
                                </div>
                            </div>
                            
                            <details class="govuk-details" data-module="govuk-details">
                                <summary class="govuk-details__summary">
                                    <span class="govuk-details__summary-text">
                                        Problem being solved
                                    </span>
                                </summary>
                                <div class="govuk-details__text">
                                    <p class="ds_task-list__task-description">
                                        <strong>Objective:</strong><br>
                                        After finding out which scheme options are available to them, farmers will usually look at which options will provide them with the most amount of money. Provide farmers with a more detailed view of the scheme options available to them, including the monetary value of each option.
                                    </p>
                                    <p class="ds_task-list__task-description">
                                        <strong>Quote from user research:</strong><br>
                                        <i> No direct quote from user research.</i>
                                    </p>
                                </div>
                            </details>
                        </div>
                    </li>
                    
                    <li class="ds_task-list__task" id="version6">
                        <div class="ds_task-list__task-details">
                            <div class="ds_task-list__task-header">
                                <h3 class="ds_task-list__task-heading">
                                    <a class="ds_task-list__task-link" href="version-6/start">Version 6 - Priority scheme options in your area</a>
                                </h3>
                                <div class="ds_task-list__task-status-container">
                                    <div class="ds_task-list__task-status" aria-hidden="true">Ready to test</div>
                                </div>
                            </div>
                            
                            <details class="govuk-details" data-module="govuk-details">
                                <summary class="govuk-details__summary">
                                    <span class="govuk-details__summary-text">
                                        Problem being solved
                                    </span>
                                </summary>
                                <div class="govuk-details__text">
                                    <p class="ds_task-list__task-description">
                                        <strong>Objective:</strong><br>
                                        Make the scheme options checker tool more helpful to farmers by showing them the priority scheme options in their area. The priority scheme options are based on the user's location and the scheme options available in their area. Priority is set by government policy.
                                    </p>
                                    <p class="ds_task-list__task-description">
                                        <strong>Quote from user research:</strong><br>
                                        <i> No direct quote from user research.</i>
                                    </p>
                                </div>
                            </details>
                        </div>
                    </li>

                    <li class="ds_task-list__task" id="version5">
                        <div class="ds_task-list__task-details">
                            <div class="ds_task-list__task-header">
                                <h3 class="ds_task-list__task-heading">
                                    <a class="ds_task-list__task-link" href="version-5/start">Version 5 - Whole Farm Plan audit improvements</a>
                                </h3>
                                <div class="ds_task-list__task-status-container">
                                    <div class="ds_task-list__task-status" aria-hidden="true">Ready to test</div>
                                </div>
                            </div>
                            
                            <details class="govuk-details" data-module="govuk-details">
                                <summary class="govuk-details__summary">
                                    <span class="govuk-details__summary-text">
                                        Problem being solved
                                    </span>
                                </summary>
                                <div class="govuk-details__text">
                                    <p class="ds_task-list__task-description">
                                        <strong>Objective:</strong><br>
                                        Using the previous version of the scheme options checker tool (version 4), improve the tool by drawing upon the recommendations from the Whole Farm Plan audit to make it even more helpful to farmers.
                                    </p>
                                    <p class="ds_task-list__task-description">
                                        <strong>Quote from user research:</strong><br>
                                        <i> No direct quote from user research.</i>
                                    </p>
                                </div>
                            </details>
                        </div>
                    </li>

                    <li class="ds_task-list__task" id="version4">
                      <div class="ds_task-list__task-details">
                          <div class="ds_task-list__task-header">
                              <h3 class="ds_task-list__task-heading">
                                  <a class="ds_task-list__task-link" href="version-4/start">Version 4 - Select Whole Farm Plan audit options</a>
                              </h3>
                              <div class="ds_task-list__task-status-container">
                                  <div class="ds_task-list__task-status" aria-hidden="true">Ready to test</div>
                              </div>
                          </div>
                          
                          <details class="govuk-details" data-module="govuk-details">
                              <summary class="govuk-details__summary">
                                  <span class="govuk-details__summary-text">
                                      Problem being solved
                                  </span>
                              </summary>
                              <div class="govuk-details__text">
                                  <p class="ds_task-list__task-description">
                                      <strong>Objective:</strong><br>
                                      Consider ways to make the scheme options checker tool more helpful to farmers. This version aims to draw upon the Whole Farm Plan audit to make the process more helpful.
                                  </p>
                                  <p class="ds_task-list__task-description">
                                      <strong>Quote from user research:</strong><br>
                                      <i> No direct quote from user research.</i>
                                  </p>
                              </div>
                          </details>
                      </div>
                    </li>

                    <li class="ds_task-list__task" id="version3">
                      <div class="ds_task-list__task-details">
                          <div class="ds_task-list__task-header">
                              <h3 class="ds_task-list__task-heading">
                                  <a class="ds_task-list__task-link" href="version-3/learn-to">Version 3 - Step-by-step learn to apply</a>
                              </h3>
                              <div class="ds_task-list__task-status-container">
                                  <div class="ds_task-list__task-status" aria-hidden="true">Ready to test</div>
                              </div>
                          </div>
                          
                          <details class="govuk-details" data-module="govuk-details">
                              <summary class="govuk-details__summary">
                                  <span class="govuk-details__summary-text">
                                      Problem being solved
                                  </span>
                              </summary>
                              <div class="govuk-details__text">
                                  <p class="ds_task-list__task-description">
                                      <strong>Objective:</strong><br>
                                      Farmers often find the guidance difficult to understand which makes engaging with AECS difficult. Present it in a way that is easy to understand and follow.
                                  </p>
                                  <p class="ds_task-list__task-description">
                                      <strong>Quote from user research:</strong><br>
                                      <i>"Can appear a bit daunting to engage with the schemes."</i>
                                  </p>
                              </div>
                          </details>
                      </div>
                    </li>

                          <li class="ds_task-list__task" id="version2">
                            <div class="ds_task-list__task-details">
                                <div class="ds_task-list__task-header">
                                    <h3 class="ds_task-list__task-heading">
                                        <a class="ds_task-list__task-link" href="version-2/start">Version 2 - Search by BRN for multiple holdings</a>
                                    </h3>
                                    <div class="ds_task-list__task-status-container">
                                        <div class="ds_task-list__task-status" aria-hidden="true">Ready to test</div>
                                    </div>
                                </div>
                                
                                <details class="govuk-details" data-module="govuk-details">
                                    <summary class="govuk-details__summary">
                                        <span class="govuk-details__summary-text">
                                            Problem being solved
                                        </span>
                                    </summary>
                                    <div class="govuk-details__text">
                                        <p class="ds_task-list__task-description">
                                            <strong>Objective:</strong><br>
                                            It's assumed (i.e. needs validating with users) that by having the option of running a single search for multiple holdings, it will make the process easier for users.
                                        </p>
                                        <p class="ds_task-list__task-description">
                                            <strong>Quote from user research:</strong><br>
                                            <i> No direct quote from user research.</i>
                                        </p>
                                    </div>
                                </details>
                            </div>
                          </li>
                          
                            <li class="ds_task-list__task" id="version1">
                                <div class="ds_task-list__task-details">
                                    <div class="ds_task-list__task-header">
                                        <h3 class="ds_task-list__task-heading">
                                            <a class="ds_task-list__task-link" href="version-1/start">Version 1 - MVP spreadsheet functionality</a>
                                        </h3>
                                        <div class="ds_task-list__task-status-container">
                                            <div class="ds_task-list__task-status" aria-hidden="true">Ready to test</div>
                                        </div>
                                    </div>
                                    
                                    <details class="govuk-details" data-module="govuk-details">
                                        <summary class="govuk-details__summary">
                                            <span class="govuk-details__summary-text">
                                                Problem being solved
                                            </span>
                                        </summary>
                                        <div class="govuk-details__text">
                                            <p class="ds_task-list__task-description">
                                                <strong>Objective:</strong><br>
                                                Create a web-based version of the AECS Targeting Tool spreadsheet to find out which version works best for users. If web-based is preferable, it would enable further enhancements and improve user engagement.
                                            </p>
                                            <p class="ds_task-list__task-description">
                                                <strong>Quote from user research:</strong><br>
                                                <i> No direct quote from user research. </i>
                                            </p>
                                        </div>
                                    </details>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </main>
    </div>

  </div>
</div>

<style>
.ds_task-list__task-status--archived {
    background-color: white;
    color: black;
    border: 2px solid black;
}
</style>

{% endblock %}
